<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="scripts/semantic-ui-css/semantic.min.css">
  <link rel="stylesheet" href="scripts/semantic-ui-calendar/dist/calendar.min.css">
  <title>SPA Percy Demo</title>
</head>
<body>
  <div class="ui container">
    <!-- Navigation Menu -->
    <div class="ui four item inverted black menu">
      <div class="header item">
        <i class="money bill alternate outline icon"></i>
        Single Page App
      </div>
      <a class="item" href="/">
        Currency Rates
      </a>
      <a class="item" href="/exchange">
        Exchange Rates
      </a>
      <a class="item" href="/historical">
        Historical Rates
      </a>
    </div>
    <!-- Error Template -->
    <script id="error-template" type="text/x-handlebars-template">
      <div class="ui {{color}} inverted segment" style="height:250px;">
        <br>
        <h2 class="ui center aligned icon header">
          <i class="exclamation triangle icon"></i>
          <div class="content">
            {{title}}
            <div class="sub header">{{message}}</div>
          </div>
        </h2>
      </div>
    </script>

    <!-- Currency Rates Template -->
    <script id="rates-template" type="text/x-handlebars-template">
      <h1 class="ui header">Currency Rates</h1>
      <hr>
      <div class="ui loading basic segment">
        <div class="ui horizontal list">
          <div class="item">
            <i class="calendar alternate outline icon"></i>
            <div class="content">
              <div class="ui sub header">Date</div>
              <span>{{date}}</span>
            </div>
          </div>
          <div class="item">
            <i class="money bill alternate outline icon"></i>
            <div class="content">
              <div class="ui sub header">Base</div>
              <span>{{base}}</span>
            </div>
          </div>
        </div>

        <table class="ui celled striped selectable inverted table">
          <thead>
            <tr>
              <th>Code</th>
              <th>Rate</th>
            </tr>
          </thead>
          <tbody>
            {{#each rates}}
            <tr>
              <td>{{@key}}</td>
              <td>{{this}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </script>

    <script id="exchange-template" type="text/x-handlebars-template">
      <h1 class="ui header">Exchange Rate</h1>
      <hr>
      <div class="ui basic loading segment">
        <form class="ui form">
          <div class="three fields">
            <div class="field">
              <label>From</label>
              <select class="ui dropdown" name="from" id="from">
                <option value="">Select Currency</option>
                {{#each symbols}}
                <option value="{{@key}}">{{this}}</option>
                {{/each}}
              </select>
            </div>
            <div class="field">
              <label>To</label>
              <select class="ui dropdown" name="to" id="to">
                <option value="">Select Currency</option>
                {{#each symbols}}
                <option value="{{@key}}">{{this}}</option>
                {{/each}}
              </select>
            </div>
            <div class="field">
              <label>Amount</label>
              <input type="number" name="amount" id="amount" placeholder="Enter amount">
            </div>
          </div>
          <div class="ui primary submit button">Convert</div>
          <div class="ui error message"></div>
        </form>
        <br>
        <div id="result-segment" class="ui center aligned segment">
          <h2 id="result" class="ui header">
            0.00
          </h2>
        </div>
      </div>
    </script>

    <script id="historical-template" type="text/x-handlebars-template">
      <h1 class="ui header">Historical Rates</h1>
      <hr>
      <form class="ui form">
        <div class="field">
          <label>Pick Date</label>
          <div class="ui calendar" id="calendar">
            <div class="ui input left icon">
              <i class="calendar icon"></i>
              <input type="text" placeholder="Date" id="date">
            </div>
          </div>
        </div>
        <div class="ui primary submit button">Fetch Rates</div>
        <div class="ui error message"></div>
      </form>

      <div class="ui basic segment">
        <div id="historical-table"></div>
      </div>
    </script>

    <!-- Page content -->
    <div id="app"></div>

    <!-- Scripts -->
    <script src="scripts/jquery/dist/jquery.min.js"></script>
    <script src="scripts/semantic-ui-css/semantic.min.js"></script>
    <script src="scripts/semantic-ui-calendar/dist/calendar.min.js"></script>
    <script src="scripts/axios/dist/axios.min.js"></script>
    <script src="scripts/handlebars/dist/handlebars.min.js"></script>
    <script src="scripts/vanilla-router/dist/vanilla-router.min.js"></script>
    <script src="js/app.js"></script>
  </div>
</body>
</html>